{% extends 'base.html' %}
{% load static %}
{% block title %}About Us | RGPV Hacks {% endblock %}
{% block body %}
<section style="background-color:#f5f5f5" class="team py-5" id="team">
	<div class="container py-xl-5 py-lg-3">
		<div class="heading-grid text-center">
			<h3  class="tittle text-center heading mb-5">Our Team<br>(mass)</h3>
			<div class="row inner-sec-w3layouts-w3pvt-lauinfo">
				<div class="col-md-3 col-sm-6">
					<div class="team-grids text-center">
						<img src="{% static 'images/sana.jpg' %}" class="img-fluid" alt="">
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="team-info">
							<div class="caption">
								<h4>Sana Rizvi</h4>
								<h6>Software Engineer</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mt-sm-0 mt-5">
					<div class="team-grids text-center">
						<img src="{% static 'images/sakshi (2).png' %}" class="img-fluid" alt="">
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="team-info">
							<div class="caption">
								<h4>Sakshi Shukla</h4>
								<h6>Software Engineer</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-5">
					<div class="team-grids text-center">
						<img src="{% static 'images/mohit.jpg' %}" class="img-fluid" alt="">
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
						<div class="clearfix"></div>
						<div class="team-info">

							<div class="caption">
								<h4>Mohit Majumdar</h4>
								<h6>Software Engineer</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 mt-md-0 mt-5">
					<div class="team-grids text-center">
						<img src="{% static 'images/ankit.jpg' %}" class="img-fluid" alt="">
						<div class="social-icons-section">
							<a class="fac" href="#">
								<i class="fa fa-facebook"></i>
							</a>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
							<a class="google" href="#">
								<i class="fa fa-google-plus"></i>
							</a>
						</div>
						<div class="clearfix">
							<div class="team-info">
								<div class="caption">
									<h4>Ankit Lodhi</h4>
									<h6>Software Engineer</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</section>
<section class="section-middle py-5" id="bottom">
	<div class="container py-lg-5">
		<div class="row about-main">
			<div class="col-lg-6 about-text-grid1 text-left">
				<div class="title-desc">
					<h4><span></span>Get started</h4>
					<h3 class="main-title-w3pvt text-capitalize my-4"> Join With Us. our prime purpose is to help
						others!</h3>
				</div>

			</div>
			<div class="col-lg-6 about-right mt-lg-0 mt-4">
				<p class="">
					When we come to a new college, we have to face many problems, meet new faculties, meet new
					students,new subjects,languages At such times we will help them through this application that they
					can understand the subjects through old notes and books. </p>
				<p class="mt-4">You can solve this problem by signup then login your id and start your learning ,Our
					language is very easy to understand in this application, so that students can understand it quickly
					and get knowledge and get good marks of <a>RGPV.</a></p>
			</div>
		</div>
	</div>
</section>

<!-- team -->
{% endblock %}